<div class="container">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card">Inloggen</p>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <input [(ngModel)]="email" type="email" id="inputEmail" name="text" class="form-control" placeholder="Gebruikersnaam" required
        autofocus>
      <input [(ngModel)]="password" type="password" id="inputPassword" name="password" class="form-control" placeholder="Wachtwoord"
        required>
      <br>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="login()" type="submit">Inloggen</button>
    </form>
    <a [routerLink]="['register']" class="btn btn-md btn-link btn-block" style="font-size: 0.9em; font-weight: 400;">Registeren</a>

    <a href="#" class="forgot-password" (click)="forgotPassword();">
      Wachtwoord vergeten?
    </a>
  </div>
</div>