.btn-circle {
    border-radius: 100%;
    height: 6vh;
    width: 6vh;
}

.navbar-dark {
    background-color: var(--dark-primary) !important;
}

.admin-panel {
    color: white;
    opacity: 1;
    margin: 1em;
}

.admin-panel:hover {
    opacity: 0.8;
    color: white;
}