<header></header>
<div class="container">
  <br>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Projectname">
    <span class="input-group-btn">
      <button class="btn btn-info btn-lg" type="button">Compile</button>
    </span>
  </div>
  <ace-editor
  [(text)]="project.content"
  [mode]="'java'"
  [theme]="'eclipse'"
  [options]="options"
  [readOnly]="false"
  [autoUpdateContent]="true"
  [durationBeforeCallback]="200"
  (textChanged)="onChange($event)"
  class="editor">
  </ace-editor>
