.well {
    min-height: 30vh;
    height: fit-content;
    background-color: lightgrey;
}

.page-container {
    padding-top: 3.5vh;
    padding-bottom: 2.5vh;
}

.page {
    width: 170px;
    margin-left: 1vw;
    margin-bottom: 1vh;
}

h1 {
    /* color: var(--dark-primary); */
}

.title {
    color: var(--dark-primary);
}